# application-dev.yml - IDM Development profile configuration

spring:
  profiles:
    include: dev

  jpa:
    hibernate:
      ddl-auto: create

logging:
  level:
    root: INFO

idm:
  bootstrap:
    enabled: false
    mode: safe
    base-path: idm/bootstrap
    admin-xml: admin.xml
    scopes-xml: scopes.xml
  self:
    scope:
      application-key: IDM
      stage-key: DEV