# application-test.yml - IDM Test profile configuration

spring:
  datasource:
    url: jdbc:h2:mem:idm-test;DB_CLOSE_DELAY=-1;MODE=MariaDB
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: false

  liquibase:
    enabled: false